<header class="navbar">
  <div>
    <a href="index.html" title="Página de incio"><img class="logo" alt="Logo de Imagine Dragons" src="img/imagine-dragons-logo.png" /></a>
  </div>
  <nav>
    <ul class="nav_menu">
      <li>
        <a href="presentation.html" title="Presentación del contenido">Presentación</a>
      </li>
      <li>
        <a href="members.html" title="Miembros de la banda">Miembros</a>
      </li>
      <li>
        <a href="discography.html" title="Discografía">Discografía</a>
      </li>
      <li>
        <a href="references.html" title="Documentación y enlaces del contenido">Enlaces</a>
      </li>
    </ul>
  </nav>
</header>