$primary-color: #0A2647;
$secundary-color: #051323;
$accent-color: #2C74B3;
$mercury-red: #9c2227;

@mixin flex($flexDirection: column, $justifyContent: center, $alignItems: center, $wrap: nowrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin grid($templateColumns: 1, $columnGap: 0) {
  display: grid;
  grid-template-columns: repeat($templateColumns, 1fr);
  column-gap: $columnGap;
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

* {
  box-sizing: border-box;  
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Space Grotesk', Arial, sans-serif;
  background: radial-gradient(circle, $primary-color, black);
  background-attachment: fixed;
}

main {
  @include flex($justifyContent: flex-start);
  min-height: calc(100% - 5.7rem);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

iframe {
  margin: 0;
  margin-bottom: 2rem;
  width: 100%;
}

figure {
  margin: 0;
  margin-bottom: 2rem;
}

figcaption {
  font-size: 0.75rem;
}

.navbar {
  @include flex($flexDirection: row, $justifyContent: space-between);
  position: relative;
  background-color: transparent;
  height: 5.7rem;
  padding: 0 1rem;
  .logo_container {
    max-width: 17rem;
    margin: 0 1rem;
  }
  img {
    display: block;
    max-width: 100%;
  }
}

.nav_menu {
  display: none;
  @include desktop {
    display: block;
  }
}

.hamburguer_btn {
  margin: 0 1rem;
  div {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
  }
  
  @include desktop() {
    display: none;
  }
}

.hamburguer_btn:hover {
  cursor: pointer;
  div {
    background-color: $accent-color;
  }
}

.close_btn {
  @include flex($alignItems: flex-end);
  margin-top: 2rem;
  height: 1rem;
  div {
    width: 35px;
    height: 2px;
    background-color: white;
    position: absolute;
  }
  div:first-of-type {
    transform: rotate(45deg);
  }
  div:last-of-type {
    transform: rotate(-45deg);
  }
}

.close_btn:hover {
  cursor: pointer;
  div {
    background-color: $accent-color;
  }
}

.side_menu {
  position: fixed;
  width: max-content;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: $secundary-color;
  padding: 1rem 2rem;
  z-index: 1;
  .nav_list {
    @include flex($alignItems: flex-start);
    li {
      a, a:hover {
        @include flex($flexDirection: row);
        border-bottom: none;
        p {
          margin: 0 0 0 1rem;
        }
      }
    }
  }
}

.active.side_menu {
  transform: translateX(0);
}

.nav_list {
  @include flex($flexDirection: row);
  list-style: none;
  padding-left: 0;
  li {
    a {
      padding: 1rem;
      display: inline-block;
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      border-bottom: 4px solid transparent;
      transition: border-bottom-color 0.3s;
    }
    a:hover, .current {
      color: $accent-color;
      border-bottom-color: $accent-color;
    }
  }
}

// COVER

.cover_main {
  @include flex;
  min-height: 100%
}

.cover_container {
  @include flex;
  min-height: 100%;
  width: 90%;
  ul {
    flex-wrap: wrap;
  }
  @include tablet() {
    width: 80%;
  }
  @include desktop() {
    width: 70%;
  }
}

.promo_text {
  font-size: 1.5rem;
  text-align: center;
}

.logo {
  @include flex($flexDirection: row, $wrap: wrap);
  width: 100%;
  img {
    width: 100%;
  }
}

// HOME

.home_container {
  @include flex($alignItems: flex-start);
  width: 75%;

  article {
    p:first-of-type {
      font-size: 1.2rem;
      line-height: 1.75rem;
    }
    img {
      width: 100%;
    }
    @include desktop() { 
      .iframe_container {
        @include grid($templateColumns: 2);
        gap: 2rem;
        iframe:first-of-type {
          grid-column: 1/2;
        }
        iframe:last-of-type {
          grid-column: 2/3;
        }
      }
    }
  }
}

// MEMBERS

.members_container {
  @include flex;
  text-align: center;
  width: 75%;
}

.card_container {
  @include flex;
  margin-top: 4rem;
  @include tablet() {
    @include grid($templateColumns: 2, $columnGap: 4rem);
  }
  @include desktop() {
    @include grid($templateColumns: 4, $columnGap: 4rem);
  }
}

.card_link {
  display: inline-block;
  text-decoration: none;
  color: white
}

.card {
  position: relative;
  transition: transform 0.3s;
  width: 15rem;
  img {
    border-radius: 2rem;
    width: 100%;
    height: 21rem;
  }
  h2 {
    position: absolute;
    bottom: 5rem;
    width: 100%;
    margin: 0;
    z-index: 2;
  }
  .onHover {
    visibility: hidden;
    max-width: 100%;
    p {
      position: relative;
      bottom: 4.5rem;
      z-index: 2;
      margin: 0;
    }
  }
}

.card:hover {
  @include desktop() { 
    cursor: pointer;
    transform: scale(1.2);
    h2 {
      bottom: 6rem;
    }
    .onHover {
      visibility: visible;
    }
  }
}

.black_blur {
  position: absolute;
  bottom: 3.82rem;
  width: 100%;
  border-radius: 2rem;
  height: calc(100% - 5rem);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  z-index: 1;
}

// DISCOGRAPHY

.discography_container {
  @include flex;
  text-align: center;
  width: 75%;
  .card_container {
    @include tablet() {
      @include grid($templateColumns: 2, $columnGap: 4rem);
    }
    @include desktop() {
      @include grid($templateColumns: 3, $columnGap: 4rem);
    }
  }
  img {
    width: 15rem;
    height: 15rem;
  }
}

// DETAIL

.mercury_body {
  background: radial-gradient(circle, $mercury-red, black);
  background-attachment: fixed;
}

.detail_container {
  @include flex($alignItems: flex-start);
  width: 75%;

  article {
    h1 {
      margin-bottom: 2rem;
      justify-self: center;
    }
    figure {
      margin-left: 0;
      margin-bottom: 2rem;
      img {
        width: 100%;
      }
      @include tablet() {
        float: right;
        margin-left: 2rem;
      }
      @include desktop() {
        float: right;
        margin-left: 2rem;
      }
    }
    ul {
      margin-bottom: 2rem;
      column-count: 2;
    }
    li {
      margin-bottom: 1rem;
    }
  }
}

.carousel {
  position: relative;
  width: 100%;
}

.discography-carousel {
  position: relative;
  width: 100%;
  img {
    width: 15rem;
    height: 15rem;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  // font-size: 18px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

// REFRENCES

.references_container {
  @include flex($alignItems: flex-start);
  width: 75%;

  article {
    h1 {
      margin-bottom: 2rem;
    }
    ul {
      margin-bottom: 2rem;
    }
    li {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    a {
      color: white;
    }
    a:hover {
      color: $accent-color;
    }
  }
}