$primary-color: #0A2647;
$secondary-color: #2C74B3;

@use "_index.scss";

* {
  box-sizing: border-box;  
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Space Grotesk', Arial, sans-serif;
  background: radial-gradient(circle, $primary-color, black);
}

@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

.navbar {
  @include flex($justifyContent: space-between);
  background-color: transparent;
  padding: 0 1rem;
  img {
    display: block;
    width: 17rem;
    margin: 0 1.5rem;
  }
  ul {
    @include flex;
    list-style: none;
    padding-left: 0;
    li {
      a {
        padding: 1rem;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-size: 18px;
        border-bottom: 4px solid transparent;
        transition: border-bottom-color 0.3s;
      }
      a:hover {
        color: $secondary-color;
        border-bottom-color: $secondary-color;
      }
      .current {
        color: $secondary-color;
        border-bottom-color: $secondary-color;
      }
    }
  }
}

.container {
  @include flex($flexDirection: column);
  height: 100%;
}